# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.production

# Media & Static
media/
staticfiles/

# VS Code
.vscode/

# Logs
*.log

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Migrations cache
**/__pycache__/